body {
}
.app{
    max-width: calc(768px + 16px * 2);
    margin: 0 auto;
    display: flex;
    min-height: 100%;
    padding: 0 16px;
    flex-direction: column;
}
footer {
    height: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #414141;
    color: white;
    justify-content: space-between;
    padding: 1em 5;
    border-top: 1px solid #666;
}
.films-not-found
{
    text-align: center;
    font-size: 5em;
}
.searchField {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-bottom: 1px solid rgb(243, 96, 96);
    background-color: rgb(68, 67, 67);
    color: white;
    border-radius: 0px;
    box-sizing: border-box;
}
.searchField-label {
    width: 100%;
    font-weight: bold;
}
.search-button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.mode-button {
    border: none;
    background-color: rgb(70, 69, 69);
    color: white;
    padding: 5px 32px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}
.button-background-color {
    background-color: rgb(243, 96, 96);
}
.inline-block {
    display: inline-block;
}
.float-right
{
    float: right;
}
.film-thumbnail-width{
    width: 300px;
}
.film-thumbnail {
    border: 1px solid #ddd;
    border-radius: 4px;
}
.font-size-little{
    font-size: 12px;
}
.border-solid{
    border: 1px solid rgb(0, 0, 0);
}
.color-white{
    color: white;
}